<div class="intro-section">
    <h1>Üdvözöljük a Vidám Mancsok Állatmenhely oldalán!</h1>
    <p>
        Mi egy kis csapat vagyunk, akik elkötelezettek a gazdátlan és rászoruló kutyák megsegítése iránt. 
        Célunk, hogy szerető otthonokat találjunk ezeknek a hűséges állatoknak, és addig is meleg, 
        biztonságos helyet biztosítsunk számukra. Fedezze fel, hogyan segíthet Ön is!
    </p>
  </div>
  <footer class="footer">
    <p>Elérhetőségek</p>
    <ul>
      <li>Email: </li>
      <li>Telefon: +36 30 123 4567</li>
      <li>Cím: 1234 Budapest, Menhely utca 10.</li>
    </ul>
  </footer>

