<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="bg-dark">
    <header style="padding-top: 0px;">
        <a [routerLink]="''">Főoldal</a>
        <a [routerLink]="'/lista'">Lista</a>
        <a [routerLink]="'/feltoltes'">Feltöltés</a>       
    </header>
    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
</body>
</html>
